html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #1B1B1B;
}

.container {
    transition: opacity 1s ease-out;
}

#top {
    background: url(../img/src_worship_bg.jpg) no-repeat center center / cover fixed;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    transition: .7s;
}

#bottom {
    background: #262626;
    width: 100%;
    height: 400px;
    bottom-padding:5px;
    z-index: 1;
    border-style: solid;
    border-top-color: #ffffff;
    border-left: none;
    border-right: none;
    border-bottom: none;
    transition: .7s;
}

#footer {
    background: #1B1B1B;
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
    z-index: 2;
    transition: .7s;
}