html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    transition: opacity 1s ease-out;
}

#intro {
    background: url(../img/src_worship_bg.jpg) no-repeat center center / cover fixed;
    height: 100%;
    width: 100%;
    padding-top: 100px;

    transition: .7s;
}

#footer {
    background: #262626;
    width: 100%;
    height: 400px;
    bottom: 0px;
    z-index: 1;
    border-style: solid;
    border-top-color: #ffffff;
    border-left: none;
    border-right: none;
    border-bottom: none;
    transition: .7s;
}