html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #1B1B1B;
    display: block;
    overflow: hidden;
}

#main-content {
    height: 100%;
    width: 100%;
}

.container {
    transition: opacity 1s ease-out;
}

#close-btn {
    padding-top: 40px;
    padding-right: 40px;
    float: right;
    color: white;
}

#btn {
    background-color: transparent;
    margin-top: 40px;
    color: white;
    border: none;
}

#btn p {
    font-family: 'Open Sans', serif, times;
    font-weight: bold;
    font-size: 1.5em;
    display: inline;
    margin-top: -10px;
    margin-right: 10px;
}

#btn:hover {
    background-color: transparent;
    transition: opacity .5s;
    opacity: .75;
    border: none;
}

#btn:active {
    background-color: transparent;
    border: none;
}

#btn:focus {
    outline: 0;
}

#nav-logo:hover {
    transition: opacity .5s;
    opacity: .75;
}

#nav-logo {
    height: 100px;
    width: auto;
}

.navbar.transparent {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: .25em;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.bottom-container .row {
    display: block;
    color: #818181;
    font-family: 'Open Sans';
    vertical-align: baseline;
}

.bottom-container {
    width :50%;
}

.fade-out {
    transition: 1s;
}

#top {
    background: url(../img/src_worship_bg.jpg) no-repeat center center / cover fixed;
    height: 100%;
    width: 100%;
    transition: .7s;
    z-index: 1001;
}

#right {
    background: #262626;
    position: absolute;
    display: block;
    width: 360px;
    height: 100%;
    transform: translate3d(100vw, 0, 0);
    transition: .7s;
}

#bottom {
    background: #262626;
    width: 100%;
    height: 400px;
    padding-top: 15px;
    z-index: 1;
    border-style: solid;
    border-top-color: #ffffff;
    border-left: none;
    border-right: none;
    border-bottom: none;
    transition: .7s;
}

#footer {
    background: #1B1B1B;
    width: 100%;
    height: auto;
    z-index: 3;
    transition: .7s;
}

#footer p {
    width: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #818181;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 22px;
    margin: 0 0 0 0;
}

#footer p a:link {
    text-decoration: none;
    color: #e1e1e1;
    cursor: pointer;
}

@media(min-width: 768px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }
}